.project-container {
            border: 2px solid #000; 
            padding: 20px; 
            margin: 20px; 
            text-align: center; 
            background-color: #f0f0f0; 
            display: flex; 
            flex-direction: column; 
            align-items: center; 
}
.project-label{
            font-size: 24px; 
            margin-bottom: 20px;
}
.image-container{
            display: flex; 
            justify-content: center; 
            gap: 10px; 
            flex-wrap: wrap;  }

.misc-container {
            border: 2px solid #000; 
            padding: 20px; 
            margin: 20px; 
            text-align: center; 
            background-color: #ffcccc; 
            display: flex; 
            flex-direction: column;
            align-items: center;
}
.misc-label {
            font-size: 24px; 
            margin-bottom: 20px;
}
.image-container{
            display: flex; 
            justify-content: center; 
            gap: 10px; 
            flex-wrap: wrap;
}
img {
            height: auto;
            flex: 1; 
            max-width: 650px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}
.art168-container{
            border: 2px solid #000; 
            padding: 20px; 
            margin: 20px; 
            text-align: center; 
            background-color: #FFF8B0; 
            display: flex; 
            flex-direction: column;
            align-items: center;
}
.art168-label {
            font-size: 24px; 
            margin-bottom: 20px;
}
.comm270-container{
            border: 2px solid #000; 
            padding: 20px; 
            margin: 20px; 
            text-align: center; 
            background-color: #B0E0E6; 
            display: flex; 
            flex-direction: column;
            align-items: center;
}
.comm270-label{
    font-size: 24px;
    margin-bottom: 20px;
}
.image-container{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.sec1{
    position: relative;
    color: white;
    background: linear-gradient(180deg, #000 0%, #ccc 100%);
    border-radius: 15px;
    padding: 5rem 2rem;
    overflow: hidden;
}

.sec1::before{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, rgba(255, 230, 100, 0.05), rgba(255, 230, 100, 0.25), rgba(255, 230, 100, 0.05));
    animation: sweep 10s infinite ease-in-out;
}
@keyframes sweep{
    0%, 10%   {transform: translateX(100%);}
    50%       {transform: translateX(-100%);}
    90%, 100% {transform: translateX(-100%);}
}

.sec2{
    position: relative;
    color: white;
    background: linear-gradient(180deg, #000 0%, #ccc 100%);
    border-radius: 15px;
    padding: 5rem 2rem;
    overflow: hidden;
}

.sec2::before{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(45deg, rgba(255, 230, 100, 0.05), rgba(255, 230, 100, 0.25), rgba(255, 230, 100, 0.05));
    animation: sweep-diagonal 10s infinite ease-in-out;
}

@keyframes sweep-diagonal{
    0%, 10%   {transform: translate(100%, 100%);}
    50%       {transform: translate(-100%, -100%);}
    90%,100%  {transform: translate(-100%, -100%);}
}

.sec3{
    position: relative;
    color: white;
    background: linear-gradient(180deg, #000 0%, #ccc 100%);
    border-radius: 15px;
    padding: 5rem 2rem;
    overflow: hidden;
}

.sec3::before{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(0, 200, 255, 0.05), rgba(0, 200, 255, 0.25), rgba(0, 200, 255, 0.05));
    animation: sweep-vertical 10s infinite ease-in-out;
}

@keyframes sweep-vertical{
    0%, 10%   {transform: translateY(-100%);}
    50%       {transform: translateY(100%); }
    90%,100%  {transform: translateY(100%);}
}

.sec4{
    position: relative;
    color: white;
    background: linear-gradient(180deg, #000 0%, #ccc 100%);
    border-radius: 15px;
    padding: 5rem 2rem;
    overflow: hidden;
}

.sec4::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 100, 200, 0.2);
    animation: sweep 10s infinite ease-in-out;
}

p.clapper{
    background: repeating-linear-gradient(
            45deg,
            #000 0,
            #000 10px,
            #fff 10px,
            #fff 20px
    );
    color: #FFD700;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: bold;
    font-family: sans-serif;
    text-shadow: 2px 2px 3px rgba(0,0,0,.99);
    transition: transform 0.5s ease;
    transform-origin: left;
}

p.clapper span{
    background: #000;
    padding: 0.5em 0.5em;
    border-radius: 6px;
    color: #FFD700;
}

p.clapper:hover{
    transform: rotate(-3.5deg);
}

.figs{
    font-family: Franklin Gothic Medium, Arial, sans-serif;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.filmreel {
    width: 300px;
    height: 300px;
    display: block;
    margin: 0 auto;
}


