.project-container {
            border: 2px solid #000; 
            padding: 20px; 
            margin: 20px; 
            text-align: center; 
            background-color: #f0f0f0; 
            display: flex; 
            flex-direction: column; 
            align-items: center;
    font-family: 'Anta';
}
.project-label{
            font-size: 24px; 
            margin-bottom: 20px;
    font-family: 'Anta';
}
.image-container{
            display: flex; 
            justify-content: center; 
            gap: 10px; 
            flex-wrap: wrap;
    font-family: 'Anta';
}

.misc-container {
            border: 2px solid #000; 
            padding: 20px; 
            margin: 20px; 
            text-align: center; 
            background-color: #ffcccc; 
            display: flex; 
            flex-direction: column;
            align-items: center;
    font-family: 'Anta';
}
.misc-label {
            font-size: 24px; 
            margin-bottom: 20px;
    font-family: 'Anta';
}
.image-container{
            display: flex; 
            justify-content: center; 
            gap: 10px; 
            flex-wrap: wrap;
    font-family: 'Anta';
}
img {
            height: auto;
            flex: 1; 
            max-width: 650px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}
.no-shadow {
    all: unset;
    height: auto;
    flex: 1;
    max-width: 650px;
}
.art168-container{
            border: 2px solid #000; 
            padding: 20px; 
            margin: 20px; 
            text-align: center; 
            background-color: #FFF8B0; 
            display: flex; 
            flex-direction: column;
            align-items: center;
    font-family: 'Anta';
}
.art168-label {
            font-size: 24px; 
            margin-bottom: 20px;
    font-family: 'Anta';
}
.comm270-container{
            border: 2px solid #000; 
            padding: 20px; 
            margin: 20px; 
            text-align: center; 
            background-color: #B0E0E6; 
            display: flex; 
            flex-direction: column;
            align-items: center;
    font-family: 'Anta';
}
.comm270-label{
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Anta';
}
.image-container{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.sec1{
    position: relative;
    color: white;
    background: linear-gradient(180deg, #000 0%, #ccc 100%);
    border-radius: 15px;
    padding: 5rem 2rem;
    overflow: hidden;
}

.sec1::before{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, rgba(255, 230, 100, 0.05), rgba(255, 230, 100, 0.25), rgba(255, 230, 100, 0.05));
    animation: sweep 10s infinite ease-in-out;
}
@keyframes sweep{
    0%, 10%   {transform: translateX(100%);}
    50%       {transform: translateX(-100%);}
    90%, 100% {transform: translateX(-100%);}
}

.sec2{
    position: relative;
    color: white;
    background: linear-gradient(180deg, #000 0%, #ccc 100%);
    border-radius: 15px;
    padding: 5rem 2rem;
    overflow: hidden;
}

.sec2::before{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(45deg, rgba(255, 230, 100, 0.05), rgba(255, 230, 100, 0.25), rgba(255, 230, 100, 0.05));
    animation: sweep-diagonal 10s infinite ease-in-out;
}

@keyframes sweep-diagonal{
    0%, 10%   {transform: translate(100%, 100%);}
    50%       {transform: translate(-100%, -100%);}
    90%,100%  {transform: translate(-100%, -100%);}
}

.sec3{
    position: relative;
    color: white;
    background: linear-gradient(180deg, #000 0%, #ccc 100%);
    border-radius: 15px;
    padding: 5rem 2rem;
    overflow: hidden;
}

.sec3::before{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(0, 200, 255, 0.05), rgba(0, 200, 255, 0.25), rgba(0, 200, 255, 0.05));
    animation: sweep-vertical 10s infinite ease-in-out;
}

@keyframes sweep-vertical{
    0%, 10%   {transform: translateY(-100%);}
    50%       {transform: translateY(100%); }
    90%,100%  {transform: translateY(100%);}
}

.sec4{
    position: relative;
    color: white;
    background: linear-gradient(180deg, #000 0%, #ccc 100%);
    border-radius: 15px;
    padding: 5rem 2rem;
    overflow: hidden;
}

.sec4::before{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(rgba(255, 100, 200, 0.05), rgba(255, 100, 200, 0.25), rgba(255, 100, 200, 0.05));
    animation: sweep 10s infinite ease-in-out;
}

p.clapper{
    background: repeating-linear-gradient(
            45deg,
            #000 0,
            #000 10px,
            #fff 10px,
            #fff 20px
    );
    color: #FFD700;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-shadow: 2px 2px 3px rgba(0,0,0,.99);
    transition: transform 0.5s ease;
    transform-origin: left;
    z-index: 1;
    position: relative;
}

p.clapper span{
    background: #000;
    padding: 0.5em 0.5em;
    border-radius: 6px;
    color: #FFD700;
    z-index: 1;
    position: relative;
}

p.clapper:hover{
    transform: rotate(-3.5deg);
}

.film-fact {
    position: absolute;
    top: 100px;
    left: 260px;
    width: 100%;
    text-align: center;
    font-family: "Anta";
    font-size: 13px;
    color: white;
    z-index: 0;
    opacity: 0;
    visibility: hidden;
    animation: fadeInFact 2s ease forwards;
    animation-delay: 1s;
}

.film-fact-two {
    position: absolute;
    top: 100px;
    left: 300px;
    width: 100%;
    text-align: center;
    font-family: "Anta";
    font-size: 13px;
    color: white;
    z-index: 0;
    opacity: 0;
    visibility: hidden;
    animation: fadeInFact 2s ease forwards;
    animation-delay: 1s;
}

.film-fact-three {
    position: absolute;
    top: 100px;
    left: 345px;
    width: 100%;
    text-align: center;
    font-family: "Anta";
    font-size: 13px;
    color: white;
    z-index: 0;
    opacity: 0;
    visibility: hidden;
    animation: fadeInFact 2s ease forwards;
    animation-delay: 1s;
}

.film-fact-four {
    position: absolute;
    top: 100px;
    left: 368px;
    width: 100%;
    text-align: center;
    font-family: "Anta";
    font-size: 13px;
    color: white;
    z-index: 0;
    opacity: 0;
    visibility: hidden;
    animation: fadeInFact 2s ease forwards;
    animation-delay: 1s;
}

@keyframes fadeInFact {
    from {
        opacity: 0;
        visibility: hidden;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}

.figs{
    font-family: Franklin Gothic Medium, Arial, sans-serif;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.filmreel {
    width: 300px;
    height: 300px;
    display: block;
    margin: 0 auto;
}

.normalfont{
    font-family: 'Anta';
}

h1 {
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: #800020;
    text-shadow: 2px 2px 4px #000000;

}

h2 {
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: #800020;
    text-shadow: 2px 2px 4px #000000;
}

figure.svg {
    filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.5));
}

figure.svgspinner {
    filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.5));
}

html, body {
    min-height: 100%;
}

.iframe-container {
    display: flex;
    justify-content: center;
}

iframe {
    filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.5));
}